*{
	padding: 0px;
	margin: 0px;
}

/*HEADER*/
#header{
	height: 150px;
	width: 100%;
	background-color: #006cd0;
	box-shadow: 0px 1px 3px grey;
	color: white;
	display: block;
	float: left;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

/*LEFT HEADER*/
#header img{
	height: 150px;
	margin-left: 40px;
	display: block;
	float: left;
}

/*MID HEADER*/
#header #header-right{
	height: 150px;
}

#header #header-right #header-right-left{
	height: 80px;
	width: 100%;
	margin-top: 10px;
	display: block;
	float: top;
}

#header #header-right #header-right-left #title{
	height: 80px;
	margin-left: 50px;
	text-align: center;
	font-size: 48px;
	display: block;
	float: left;
}

#header #header-right #header-right-left #subtitle{
	height: 70px;
	margin-left: 50px;
	margin-top: 10px;
	font-size: 36px;
	display: block;
	float: left;
}

/*NAVIGATION*/
#header #header-right #navigation{
	width: 100%;
	height: 60px;
	display: block;
	float: top;
}

#header #header-right #navigation ul{
	background-color: #006cd0;
	list-style: none;
}

#header #header-right #navigation ul li{
	float: left;
}

#header #header-right #navigation ul li a{
	padding: 18px 20px;
	font-size: 20px;
	text-decoration: none;
	color: white;
	display: block;
}

#header #header-right #navigation ul li a:hover{
	background-color: white;
	color: #006cd0;
}

#header #header-right #navigation ul ul{
	display: none;
	background-color: #006cd0;
	box-shadow: 0px 1px 3px grey;
	list-style: none;
	position: absolute;
}

#header #header-right #navigation ul li:hover > ul{
	display: block;
}


/*CONTENT*/
#content{
	margin: 40px;
	font-size: 30px;
	display: block;
	float: left;
	font-family: Verdana,Geneva,sans-serif;
}



/* IMG SLIDER */
#Slide1, #Slide2{
	margin-left: -400px;
	position: relative;
	width: 1600px;
	height: 250px;
}

.Project1, .Project2{
	width: 400px;
	height: 400px;
	margin: 100px 150px;
	float: left;
	position: relative;
	overflow: hidden;
}

.ProjectPicture1, .ProjectPicture2{
	width: 400px;
	height: 400px;
	float: left;
}

#prev, #next, #prev2, #next2{
	top: 50%;
	width: 30px;
	height: 30px;
	border: 5px solid black;
	border-left: none;
	border-bottom: none;
	position: absolute;
	cursor: pointer;
}

#next, #next2{
	right: 2%;
	transform: rotate(45deg);
}

#prev, #prev2{
	left: 2%;
	transform: rotate(230deg);
}


/*FOOTER*/
#footer{
	height: 80px;
	width: 100%;
	background-color: #006cd0;
	box-shadow: 0px -1px 3px grey;
	display: block;
	float: left;
	font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
}

/*LEFT FOOTER*/
#footer #footer-left{
	display: block;
	float: left;
	color: white;
	font-size: 24px;
	padding-top: 25px;
	padding-left: 10px;
}

/*RIGHT FOOTER*/
#footer #footer-right img{
	display: block;
	float: right;
	padding: 20px;
	height: 40px;
}

@media screen and (max-width: 816px)
{
	#header{
		height: 230px;
		width: 100%;
	}

	#header #header-right #header-right-left{
		height: 160px;
	}

	.Project1, .Project2{
		margin: 20px 0px;
	}

	#content p{
		margin-top: 900px;
	}
}

@media screen and (max-width: 500px)
{
	#header{
		height: 370px;
		width: 100%;
	}

	#header #header-right{
		margin-top: 150px;
	}

	#footer{
		height: 140px;
	}

	#footer #footer-left{
		width: 100%;
	}

	.Project1, .Project2{
		margin: 20px 0px;
	}

	#content p{
		margin-top: 900px;
	}
}